<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
        <h2>LOG-IN</h2>
        <header>
                <nav>
                        <span>New user??<a method="get"href="/signup">Sign-up </a></span>
                </nav>

        </header>
        <form action="/" method="POST">
                <input type="text" placeholder="Username" name="username" class="login" id="username" required="true"><br><br>
                <input type="password" placeholder="Password" name="password" class="login" id="password" required="true"><br><br>
                <button type="submit">Login</button>
        </form>



        
</body>

</html>