<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Notes</title>
        <link rel="stylesheet" type="text/css" href="style.css">
</head>
<header>
        <nav>
                <span><a href="/" method="GET">Todo</a></span>
                <span><a method="GET" href="/logout">Log-out</a></span>

        </nav>

</header>

<body>
        <h2> NOTES     </h2>
        <h4>
                Create notes with title...
        </h4>

        <form action="/note" method="POST">
                <input type="text" placeholder="Title" name="title" id="title"><br><br>
                <textarea placeholder="Notes.." name="notes" id="notes" required="true"></textarea><br><br>
                <button type="submit" id="note">Create Note</button>
        </form>


        <h3>Notes:</h3>
        <ul>
                <% for(var i=0; i< notes.length; i++) {  %>
                        <li class="note"><strong><%= notes[i].title %></strong><br>
                                <%= notes[i].notes%>
                        </li>
                        <%  } %>
        </ul>

        <!--<script type="text/javascript" src="notes.js"></script>-->
</body>

</html>