<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Sign-up</title>
        <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
        <h2>SIGN-UP</h2>
        <header>
                <nav>
                        <span>Have an account??<a method="get" href="/login">Log-in </a></span>


                </nav>

        </header>
        <form action="/signup" method="POST">
                <input type="text" placeholder="Username" maxlength="12" name="username" class="login" id="username" required="true"><br><br>
                <input type="password" placeholder="Password" minlength="6" maxlength="12" name="pass" class="login" id="pass" required="true"><br><br>
                <button type="submit">Sign-up</button>
        </form>



</body>

</html>